GEMINI_API_KEY=your_api_key_here
GEMINI_MODEL=gemini-2.5-flash
GEMINI_OCR_MODEL=gemini-1.5-flash

OPENAI_API_KEY=TU API KEY DE OPENAI
FAST_LLM_PROVIDER=openai
FAST_LLM_MODEL=gpt-5.2

LANGCHAIN_API_KEY=your_langsmith_key
LANGCHAIN_PROJECT="agents-repo"
LANGCHAIN_TRACING_V2=true

ELVNLABS_API_KEY=

# ZOA & OCR MCP
ZOA_ENDPOINT_URL=

# DB (Cloud SQL)
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
DB_PORT=

# ERP (eBroker Cloud Function)
ERP_ENDPOINT_URL=
ERP_TIMEOUT=30

# Wildix Voice Bot
WILDIX_API_KEY=
WILDIX_WEBHOOK_SECRET=

TEST_PHONE_NUMBER=